/* static/styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #007BFF;
    margin-bottom: 20px;
    text-align: center;
}

form {
    text-align: center;
}

form p {
    margin-bottom: 10px;
}

/* Nowe style dla wyników */
#wyniki-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title {
    color: #007BFF;
    font-size: 24px; /* Zwiększenie rozmiaru czcionki dla tytułu wyników */
    margin-bottom: 10px;
}

.result-item {
    font-size: 18px; /* Zmniejszenie rozmiaru czcionki dla atrybutów wyników */
    margin-bottom: 8px;
}

.result-item:last-child {
    font-weight: bold; /* Zastosowanie wytłuszczenia do prognozowanej wartości */
    color: #ff0000; /* Dodanie koloru (możesz dostosować według własnych preferencji) */
}
