<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Prognoza ceny benzyny 95 przy użyciu modelu LSTM</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.cena_barylki.label }} {{ form.cena_barylki(size=20) }}</p>
        <p>{{ form.kurs_dolara.label }} {{ form.kurs_dolara(size=20) }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
